doctype html
html
    body
        h1 Hey #{firstName} #{lastname},

        p Welcome to <strong>Persona Identity Management</strong> !

        p We will be in touch with new announcements regarding our platform!

        p Thank you for subscribing!